<html>
    <head>
        <title><%= username%></title>
    </head>
    <body>
        <%- include('_header'); -%>
        <h1>This is <%= username%> profile</h1>
        <%- include('_footer'); -%>
    </body>
</html>