<h2>Enter your email id to reset password</h2>
<form action="/users/reset-password" method="post">
    <input type="email" name="email" placeholder="Email" required>
    <input type="submit" value="Sumbit">
</form>