<div>
    <p>Hello <%= comment.user.name %>!</p>
    <br>
    <br>
    <p>Hurray! Your comment <strong>(<%= comment.content %>)</strong> is just got published on SocialCode.</p>
    <br>
    <br>
</div>
